# Architecture

This section describes the high-level architecture of the `{{ project_name }}` project.

## Languages Detected

{% if general_analysis.languages %}
- {{ general_analysis.languages | join(", ") }}
{% else %}
- No languages detected.
{% endif %}

## Folder Structure

```mermaid
graph TD
{% for folder, data in general_analysis.structure.items() %}
    subgraph {{ folder | default("root", true) }}
    {% for d in data.dirs %}
        {{ d }} -->
    {% endfor %}
    {% for f in data.files %}
        {{ f }}
    {% endfor %}
    end
{% endfor %}
```

## Python Modules Overview

{% for file, data in python_analysis.items() %}
### `{{ file }}`

{{ data.docstrings }}

#### Classes
{% if data.classes %}
{% for class_info in data.classes %}
- `{{ class_info.name }}`: {{ class_info.docstring | truncate(100) }}
  - Methods:
  {% for method in class_info.methods %}
    - `{{ method.name }}`({{ method.args | join(", ") }}): {{ method.docstring | truncate(100) }}
  {% endfor %}
{% endfor %}
{% else %}
- No classes found.
{% endif %}

#### Functions
{% if data.functions %}
{% for func_info in data.functions %}
- `{{ func_info.name }}`({{ func_info.args | join(", ") }}): {{ func_info.docstring | truncate(100) }}
{% endfor %}
{% else %}
- No functions found.
{% endif %}

{% endfor %}
