site_name: {{ site_name }}
site_description: {{ site_description }}
repo_url: {{ repo_url }}
theme:
  name: {{ theme.name }}
nav:
{% for item in nav %}
{% for key, value in item.items() %}
  - {{ key }}: {{ value }}
{% endfor %}
{% endfor %}
